# This file is managed by nrgillumos Puppet module.

# This ApiListener assumes PKI/SSL provided by Puppet agent
object ApiListener "api" {
  cert_path = "<%= @pki_cert_path %>"
  key_path = "<%= @pki_key_path %>"
  ca_path = "<%= @pki_ca_path %>"
  accept_config = false
  accept_commands = true
}
