# This file is managed by nrgillumos Puppet module.

# Master zone
object Zone "<%= scope['nrgillumos::icinga2_client::master_zone'] %>" {
  endpoints = [
    "<%= scope['nrgillumos::icinga2_client::master_endpoint_host'] %>",
  ]
}

# My zone
object Zone "<%= @lower_fqdn %>" {
  parent = "<%= scope['nrgillumos::icinga2_client::master_zone'] %>"
  endpoints = [
    "<%= @lower_fqdn %>",
  ]
}

